# App
APP_NAME="NestJS API"
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=ghilliedup

# Uncomment if using Docker:
# DB_HOST=postgres
# Else:
# DB_HOST=localhost

DB_PORT=5432
DB_SCHEMA=public

# Prisma database connection
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer"

# PORTS
API_PORT=3333
WEB_PORT=4200

# Site URL
SITE_URL=http://localhost:4200

JWT_ACCESS_TOKEN_EXP_IN_SEC=3600
JWT_REFRESH_TOKEN_EXP_IN_SEC=7200
DEFAULT_ADMIN_USER_PASSWORD=admin-example
JWT_PUBLIC_KEY_BASE64=
JWT_PRIVATE_KEY_BASE64=

#mail
MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

SENTRY_DSN=
